@model IEnumerable<Veterinaria.Domain.Entities.Vacuna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaRefuerzoMeses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadPrimeraDosisSemanas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfermedadesPrevine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaRefuerzoMeses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadPrimeraDosisSemanas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfermedadesPrevine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVacuna">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVacuna">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVacuna">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
