@model IEnumerable<PRJ_VETERINARIA.Models.Kardex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockNuevo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocumentoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumentoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockNuevo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumentoRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumentoRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoteNavigation.IdLote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKardex">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKardex">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKardex">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
