@model Veterinaria.Domain.Entities.Kardex

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kardex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocumentoRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDocumentoRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumentoRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumentoRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoteNavigation.IdLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKardex">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
