@model PRJ_VETERINARIA.DataAccessLayer.Models.Servicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiereAyuno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiereAyuno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequierePreparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequierePreparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstruccionesPreparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstruccionesPreparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoServicioNavigation.IdTipoServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServicio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
