@model IEnumerable<Veterinaria.Domain.Entities.LoteProducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroLote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
